.App {
  text-align: center;
  margin: 100px;
}

list{
  color: red;
}
input{
  border-radius: 2px;
  border-color: green;
}

Button{
  border-radius: 3px;
  border-color: red;
}
h1{
  text-align: center;
}
